<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<meta name="theme-color" content="#008080" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="./css/materialize.min.css"  media="screen,projection"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

</head>
<body>


	<div class="Header">
		<div class="top">

			<div class="title">
				BVPIEEE CS PORTAL
			</div>

			<div class="button"> 
				<button class="btn waves-effect waves-light" type="submit" name="action">LOGOUT
				</button>
			</div>

		</div>
	</div>

	<div class="Main">
		<div class="container auto-fill">

			<div class="fileupload">
				<div class="mainBox file">

					<div>
						<div class="welcome">WELCOME</div>
						<div class="text">KAUTUK</div>	
					</div>

					<form method="post" enctype="multipart/form-data" action="/home">

						<div class="input-field col s12"> 
							<input type="file" name="sampleFile">
						</div><br>

						<button class="btn waves-effect waves-light wid" type="submit" name="upload">UPLOAD
						</button>

					</form>

				</div><br>

				<div class="mainBox leaderboard file">

					<div class="ranklabel">CURRENT RANK</div>
					<div class="rank">3/40</div>

				</div><br>

			</div>

			<div></div>

			<div class="result">

				<div class="title"><h4>TRACK YOUR PROGRESS</h4></div><br><br>

				<div class="scores">

					<%for(var i = 1; i <= 10 ; i++) {%>
					<div class="mainBox score">
						<div class="codetitle">CODE NUMBER <%=i%></div>
						<div class="codescore"><%=i*13+29%>/50</div>
					</div>
					<% } %>

				</div>

				<div class="footnote"><p>MADE BY KAUTUK KUNDAN</p><p>HEAD "RNIS DIVISION" GDG BVP</p></div>
			</div>
		</div>



		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="./js/materialize.min.js"></script>
	</body>
	</html>